@charset "UTF-8";
/* sumura.css */







/***************** sumura top *****************/

#container_sumura {
	text-align: center;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}

#container_sumura .pad_mainimg {
	text-align: center;
	padding: 0 0 0 0;
	margin-top: -38px;
	margin-bottom: -0.0em;
	position: relative; 
	z-index:1;
}

#container_sumura .font_sumura01 {
	width: 940px;
	text-align: left;
	padding: 85px 0 65px 120px;
	font-size: 1.2em;
	line-height: 1.8em;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}



#wrapper_profile {
	width: 950px;
	padding: 0 0 98px 0;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}
	
#wrapper_profile .pad_left {
	width:402px;
	float: left;
	text-align: left;
	padding: 0 0 0 45px;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}
#wrapper_profile .pad_right {
	width:500px;
	float: left;
	padding: 0 0 0 0;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
	text-align:left;
}	

#wrapper_profile .pad_right .pad_title {
	text-align: left;
	padding: 114px 0 45px 0;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}	
#wrapper_profile .pad_right .font_sumura {
	width: 355px;
	font-size: 1.02em;
	line-height: 1.7em;
	text-align: left;
	padding: 0 0 25px 0;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}	



#container_sumura .pad_title02 {
	text-align: center;
	padding: 30px 0 45px 0;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}




#container_sumura .pad_line01 {
	text-align: center;
	padding: 0 0 48px 0;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}



#wrapper_profile .pad_action01 {
	padding: 0 0 3px 0;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}

#wrapper_profile .font_txt01 {
	width: 630px;
	font-size: 1.15em;
	line-height: 1.7em;
	text-align: left;
	padding: 0 0 52px 3px;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}

#wrapper_profile .font_txt02 {
	width: 483px;
	font-size: 1.1em;
	line-height: 1.7em;
	float: left;
	text-align: left;
	padding: 0 0 52px 3px;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}
#wrapper_profile .font_txt03 {
	width: 450px;
	font-size: 1.1em;
	line-height: 1.7em;
	float: left;
	text-align: left;
	padding: 0 0 52px 3px;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}

#wrapper_profile .pad_left02 {
	width:657px;
	float:left;
	text-align:left;
	padding: 0 0 0 0;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}

#wrapper_profile .pad_right02 {
	width:288px;
	float:left;
	font-size: 1.1em;
	line-height: 1.7em;
	text-align:left;
	padding: 90px 0 0 0;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}	










#container_exhibition .font_exhibition01 {
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-size: 1.5em;
	letter-spacing:0.12em;
	line-height: 1.8em;
	color: #535353;
	padding: 0 0 22px 0;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}
	
	



#wrapper_artist {
	width: 950px;
	padding: 0 0 98px 0;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}
	
#wrapper_artist .font_artistname {
	width: 130px;
	text-align: left;	
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-size: 1.55em;
	float: left;
	padding: 0 0 10px 0;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}

#wrapper_artist .font_artisttitle {
	width: 345px;
	text-align: left;
	font-size: 0.96em;
	float: left;
	padding: 0 0 10px 0;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}

ul#info {
	width: 780px;
	padding: 0 0 0 200px;
	text-align: left;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}			
ul#info li.info01 {
	width: 80px;
	font-size: 0.95em;
	text-align: left;
	float: left;
	padding: 0 0 3px 0;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}			
		
ul#info li.info02 {
	width: 700px;
	font-size: 1.15em;
	text-align: left;
	float: left;
	padding: 0 0 3px 0;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}

#container_exhibition .pad_line02 {
	text-align: center;
	padding: 0 0 12px 0;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}

ul#info li.info03 {
	width: 80px;
	font-size: 0.95em;
	text-align: left;
	float: left;
	padding: 0 0 8px 0;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}			
		
ul#info li.info04 {
	width: 700px;
	font-size: 1.15em;
	line-height: 1.3em;
	text-align: left;
	float: left;
	padding: 0 0 8px 0;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}

ul#info li.info05 {
	width: 80px;
	font-size: 0.95em;
	text-align: left;
	float: left;
	padding: 0 0 0 0;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}			
		
ul#info li.info06 {
	width: 700px;
	font-size: 1.15em;
	line-height: 1.3em;
	text-align: left;
	float: left;
	padding: 0 0 0 0;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}

.info06 a {
	color: 323232;
}






#wrapper_map {
	width: 984px;
	padding: 90px 0 98px 0;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}

#wrapper_map .pad_left {
	width: 600px;
	float: left;
}
#wrapper_map .pad_right {
	width: 383px;
	float: left;
}


#wrapper_map .pad_left .pad_title {
	padding: 0 0 19px 0;
	text-align: left;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}
#wrapper_map .pad_left .pad_map {
	padding: 0 0 30px 0;
	text-align: left;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}

#wrapper_map .pad_left ul#address {
	width: 488px;
}
#wrapper_map .pad_left ul#address li.post {
	float: left;
	width: 80px;
	padding: 0 0 0 12px;
	text-align: left;
	font-size: 0.88em;
}
#wrapper_map .pad_left ul#address li.address {
	float: left;
	width: 390px;
	padding: 0 0 0 0;
	text-align: left;
	font-size: 1.1em;
	line-height: 1.7em;
}
	
#wrapper_map .pad_right .font_descript{
	font-size: 0.88em;
	text-align: left;
	padding: 3px 0 0 3px;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}
	
	
	



