@charset "UTF-8";
/* base.css */

html {
	margin: 0 auto;
	background: #ffffff; /* Fills the page */
	position: relative; /* Fix for absolute positioning */
}

body { 
	overflow-x: hidden; 
	font-family: "メイリオ","Meiryo",Osaka,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",verdana,arial,clean,sans-serif;
	font-size: 12px;
	line-height: 165%;
	color: #363636;
}


/*
 altText
----------------------------------------------------------------------------------------------------*/
.altText{
	display:inline-block;
	height:0;
	width:0;
	overflow:hidden;
	position:absolute;
}

/*
 clrF
----------------------------------------------------------------------------------------------------*/
.clrF:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clrF{
	display:inline-block;
	min-height:1%;
}
* html .clrF{height:1%;}
.clrF{display:block;}

/*------------ Header Accessary ------------*/	




/*
 content
----------------------------------------------------------------------------------------------------*/
#content{}
#content #content_inner{
	margin:0 auto;
	padding:147px 0 0;
	width:100%;
}
#content #content_inner .contentInner{
}

/*
 footer
----------------------------------------------------------------------------------------------------*/
#header{
	position:fixed;
	top:0;
	width:100%;
	z-index: 9999;
}
* html body #header{
	position:absolute;
	_top:expression(document.documentElement.scrollTop+
	document.documentElement.clientHeight-this.clientHeight);
}
#header .headerInner{
	margin:0 auto;
	padding:0 0 0 0;
	height:182px;
	text-align:center;
}



#container_header {
	background-image: url(../../images/header_bg.jpg);
	width: 100%;
	height: 147px;
	margin-top: 0;
	margin-bottom: 0;
}

#container_headerimg {
	background-image: url(../../images/header01.jpg);
	background-repeat: no-repeat;
	width: 990px;
	height: 107px;
	text-align: center;
}
	
.pad_headerlogo {
	position: absolute;
	text-align: left;
	padding: 10px 0 0 18px;
}
	
#table_header_accessary {
	width: 400px;
	position: absolute;
	text-align: right;
	margin-top: 0;
	right: 20px;
}

.font_headeraccessary01 {
	font-size: 0.93em;
	padding: 10px 0 0 28px;
	text-align: right;
}

.li01 {
	list-style-image: url(../../images/header_arrow.png);
	padding: 0 0 0 0;
	float: left;
}

.li02 {
	width: 40px;
	text-align: center;
	float: left;
}


.font_headeraccessary02 {
	width: 400px;
	font-size: 1.05em;
	padding: 7px 0 0 0;
	text-align: right;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}

.font_headeraccessary02 span {
	font-size: 0.8em;
}

.pad_header_phone {
	width: 400px;
	text-align: right;
	padding: 0 0 3px 0;
}

.pad_header_contact {
	width: 220px;
	text-align: right;
	float: left;
	padding: 0 0 0 0;
	z-index: 10;
}
.pad_header_ob {
	width: 170px;
	text-align: right;
	float: left;
	padding: 0 0 0 0;
	margin-top:-27px;
	z-index: 9;
}
.pad_header_xmas {
	width: 170px;
	text-align: right;
	float: left;
	padding: 0 0 0 0;
	margin-top:-32px;
	z-index: 9;
}


.pad_side_facebook {
	position: fixed;
	top: 120px;
	right: 0;
	z-index:99999;
}

.pad_side_blog {
	position: fixed;
	top: 188px;
	right: 0;
	z-index:99999;
}


/*------------ Header navigation ------------*/	


#table_header_navigation {
	position: absolute;
	text-align: left;
	margin-top: 107px;
	left: 20px;
}

.li03 {
	text-align: left;
	float: left;
	padding: 0 0 0 0;
}


#table_header_navigation02 {
	width: 312px;
	position: absolute;
	text-align: right;
	margin-top: 107px;
	right: 20px;
}

.li04 {
	width: 28px;
	text-align: left;
	float: left;
	padding: 0 0 0 0;
}

.li05 {
	font-size: 1.0em;
	padding: 15px 18px 0 8px;
	text-align: left;
	float: left;
}
	
.li06 {
	font-size: 1.0em;
	padding: 15px 0 0 8px;
	text-align: left;
	float: left;
}	

.li05 a:link {
	color: #ffffff;
	text-decoration:none;
	outline: none;
}
.li05 a:visited {
	color: #ffffff;
	text-decoration: none;
	outline: none;
}
.li05 a:hover {
	color: #ffff88;
	text-decoration: underline;
	outline: none;
}
.li05 a:active {
	color: #ffffff;
	text-decoration: underline;
	outline: none;
}
.li06 a:link {
	color: #ffffff;
	text-decoration:none;
	outline: none;
}
.li06 a:visited {
	color: #ffffff;
	text-decoration: none;
	outline: none;
}
.li06 a:hover {
	color: #ffff88;
	text-decoration: underline;
	outline: none;
}
.li06 a:active {
	color: #ffffff;
	text-decoration: underline;
	outline: none;
}


/* dropdown */

ul#navigation {
	padding: 0 0 0 0;
}

ul#navigation li {
	float: left;
	padding: 0 0 0 0;
	text-align: left;
	position: relative; /* Fix for absolute positioning */
}
	


#navigation ul.box01 {
	background: #ddd; /* for non-css3 browsers */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cfcfcf'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#cfcfcf)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #fff,  #cfcfcf); /* for firefox 3.6+ */

	display: none;
	margin: 0;
	margin-top: 3.3em;
	padding: 0;
	width: 223px;
	top: 1px;
	left: 0;
	border: solid 1px #b4b4b4;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	
	position: absolute;
	z-index: 5;
}


#navigation ul.box02 {
	background: #ddd; /* for non-css3 browsers */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cfcfcf'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#cfcfcf)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #fff,  #cfcfcf); /* for firefox 3.6+ */

	display: none;
	margin: 0;
	margin-top: 3.3em;
	padding: 0;
	width: 155px;
	top: 1px;
	left: 0;
	border: solid 1px #b4b4b4;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	
	position: absolute;
	z-index: 5;
}


#navigation li:hover > ul {
	display: block;
}
#navigation ul li {
	float: none;
	margin: 0;
	padding: 0;
	padding: 3px 0 3px 16px;
}
#navigation ul a {
	font-weight: normal;
	text-shadow: 0 1px 1px rgba(255, 255, 255, .9);
}
/* clearfix */
#navigation:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}



#navigation ul li a:link {
	color: #323244;
	text-decoration:none;
	outline: none;
}

#navigation ul li a:visited {
	color: #323244;
	text-decoration: none;
	outline: none;
}

#navigation ul li a:hover {
	color: #399;
	text-decoration: underline;
	outline: none;
}

#navigation ul li a:active {
	color: #83BD83;
	text-decoration: underline;
	outline: none;
}



.pad_img {
	padding: 0 0 0 0;
	position: relative;
	display: block;   
	clear: both;
}
	

#bg-img {
    width: 100%;
    left: 0;
}

#bg-topimg {
    width: 100%;
    left: 0;
}

.pad_img:after{
    content: "";
    display: block;
    clear: both; /* 左右の回り込みを解除 */
} 


.clearfix:after {  
  content: ".";   
  display: block;   
  height: 0;   
  clear: both;   
  visibility: hidden;  
}  
  
.clearfix { display: inline-table; }  
  
/* Hides from IE-mac \*/  
* html .clearfix { height: 1%; }  
.clearfix { display: block; }  
/* End hide from IE-mac */  




/*------------ MAIN ------------*/	

#container_mainmain {
	width: 100%;
	margin-top: 42px;
	margin-bottom: 0;
}

#container_mainarea {
	width: 990px;
	text-align: center;
}




.pad_mainmainarea {
	width: 648px;
	text-align: left;
	padding: 40px 0 0 0;
	float: left;
}


.pad_mainsidearea {
	position: relative;
	width: 299px;
	text-align: left;
	padding: 40px 0 0 41px;
	float: left;
}






/*------------ SIDE NAVIGATION------------*/

#nav {
  width: 299px;
}


.fixed {
  position: fixed;
  top: 225px;
}


#table_contactbox {
	width: 298px;
	border: 1px #8a8a8a solid;
	margin-left: 8px;
	margin-bottom: 16px;
}

#table_contactbox02 {
	width: 298px;
	border: 1px #8a8a8a solid;
	margin-left: 0;
	margin-bottom: 16px;
}

.pad_contacttitle {
	text-align: left;
	padding: 13px 0 20px 11px;
}

.pad_contacttitle02 {
	text-align: left;
	padding: 3px 0 5px 11px;
}

.font_contact01 {
	font-size: 1.08em;
	color: #2f4f9f;
	padding: 0 0 7px 20px;
	margin-top: -0.5em;
	margin-bottom: -0.0em;
}
	
.font_contact01 li {
	list-style-image: url(../../images/contact_arrow.gif);
	padding: 0 0 0 0;
}

.pad_contactphoneno {
	padding: 0 0 0 34px;
	text-align: left;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}

.pad_contactdotline {
	padding: 0 0 13px 20px;
	text-align: left;
	margin-top: -0.5em;
	margin-bottom: -0.0em;
}

.font_contact02 {
	font-size: 1.0em;
	padding: 0 0 17px 0;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}
	
.font_contact02 li {
	background-image: url(../../images/contact_icon.gif);
	background-repeat: no-repeat;
	margin-left:25px;
	margin-top: -0.0em;
	padding: 0 0 0 38px;
}


.pad_brochure {
	text-align: left;
	padding: 0 0 0 8px;
}

.pad_brochure02 {
	text-align: left;
	padding: 40px 0 20px 0;
}



#table_addressarea {
	width: 298px;
	margin-top: 30px;
	margin-left: 8px;
	margin-bottom: 16px;
	background-color: #000000;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#table_addressarea02 {
	width: 298px;
	margin-top: 30px;
	margin-left: -0.0em;
	margin-bottom: 16px;
	background-color: #000000;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.pad_addressbox_title {
	width: 298px;
	text-align: center;
	padding: 22px 0 8px 0;
}

ul.sideaddress {
	border: #CCC 1px solid;
}

li.address01 {
	width: 90px;
	text-align: right;
	float: left;
}

li.address02 {
	width: 200px;
	padding: 0 0 0 7px;
	font-size: 1.05em;
	color: #ffffff;
	text-align: left;
	float: left;
}

li.address03 {
	width: 200px;
	padding: 0 0 0 7px;
	text-align: left;
	float: left;
}

li.address04 {
	width: 200px;
	padding: 0 0 0 7px;
	font-size: 1.0em;
	color: #ffffff;
	text-align: left;
	float: left;
}

li.address05 {
	padding: 3px 0 12px 9px;
	text-align: left;
	float: left;
}

li.address01 .font_address01 {
	width: 90px;
	text-align: right;
	font-size: 0.9em;
	padding: 2px 0 2px 0;
	color: #ffffff;
}

li.address01 .font_address02 {
	width: 90px;
	text-align: right;
	font-size: 0.9em;
	padding: 2px 0 2px 0;
	color: #777777;
}





.pad_sidetitle01 {
	padding: 0 0 22px 0;
	text-align: left;
}

.font_sidemenue01 {
	font-size:1.15em;
	padding: 0 0 0 0;
	text-align:left;
	margin-bottom:-0.0em;
	margin-top:-0.0em;
}

.font_sidemenue01 li{
	list-style-image: url(../../images/side_arrow01.gif);
	margin-left:11px;
	padding: 0 0 6px 0;
}





.font_sidemenue01 a:link {
	color: #323232;
	text-decoration:none;
}

.font_sidemenue01 a:visited {
	color: #323232;
	text-decoration: none;
}

.font_sidemenue01 a:hover {
	color: #dfac67;
	text-decoration: underline;
}

.font_sidemenue01 a:active {
	color: #edd1aa;
	text-decoration: underline;
}




.font_sidemenue02 {
	font-size:1.0em;
	padding: 0 0 0 0;
	text-align:left;
	margin-bottom:-0.0em;
	margin-top:-0.0em;
}

.font_sidemenue02 li{
	list-style-image: url(../../images/side_arrow02.gif);
	margin-left:11px;
	padding: 0 0 6px 0;
}

.font_sidemenue02 li ul {
	font-size:0.95em;
	margin-bottom: 17px;
	margin-top: 3px;
}

.font_sidemenue02 li ul li{
	list-style-image: url(../../images/side_arrow03.gif);
	margin-left:22px;
	padding: 1px 0 4px 0;
}


.font_sidemenue02 a:link {
	color: #323232;
	text-decoration:none;
}

.font_sidemenue02 a:visited {
	color: #323232;
	text-decoration: none;
}

.font_sidemenue02 a:hover {
	color: #dfac67;
	text-decoration: underline;
}

.font_sidemenue02 a:active {
	color: #edd1aa;
	text-decoration: underline;
}


.pad_sidedotline01{
	padding:0 0 2px 8px;
	text-align:left;
	margin-bottom:-0.0em;
	margin-top:-0.0em;
}



.pad_sidebanner_img01 {
	padding: 0 0 2px 0;
}

.pad_sidebanner_img02 {
	padding: 0 0 22px 0;
}


/*------------ 画像------------*/	


.alpha a:hover img {
	opacity: 0.7;
	filter: alpha(opacity=70);
	-ms-filter: "alpha(opacity=70)";
}


/*------------ SITEMAP------------*/	


#container_sitemap {
	width: 100%;
	background-color: #d7dff3;
	background: -moz-linear-gradient(top, #b4bfdb, #d7dff3 30%, #d7dff3);
	background: -webkit-gradient(linear, left top, left bottom, from(#b4bfdb), color-stop(0.3, #d7dff3), to(#d7dff3));
	position: relative;
	margin-top: 0;
	margin-bottom: 0;
}


#table_sitemap {
	text-align:center;
	width:95%;
	margin-top: 28px;
	padding: 28px 0 0 0;
}

.pad_sitemap_logo {
	width: 100px;
	float: left;
	text-align: left;
}



.font_sitemaptitle {
	font-size:1.0em;
	font-weight: bold;
	margin-left:18px;
	padding: 0 0 6px 0;
	text-align:left;
	list-style-position:outside;
}

.font_sitemaptitle li{
	list-style-image:url(../../images/sitemap_bullet01.gif);
	margin-left:-0.0em;
	padding:0 0 3px 0;

}

.font_sitemap {
	font-size:0.92em;
	font-weight: normal;
	margin-left:18px;
	padding: 0 0 0 0;
	line-height:1.3em;
	text-align:left;
	list-style-position:outside;
	margin-bottom:20px;
}

.font_sitemap li{
	list-style-image:url(../../images/sitemap_bullet02.gif);
	margin-left:-0.0em;
	padding:0 0 4px 0;

}


.font_sitemap02 {
	font-size:0.98em;
	font-weight: normal;
	padding: 20px 20px 0 0;
	line-height:1.3em;
	text-align:left;
	list-style-position:outside;
	margin-bottom:20px;
	
}

.font_sitemap02 li.bullet{
	list-style-image:url(../../images/sitemap_bullet02.gif);
	margin-left:-0.0em;
	padding:0 22px 20px 0;
	float: left;

}

.font_sitemap02 li.icon01{
	background-image:url(../../images/sitemap_icon01.gif);
	background-repeat:no-repeat;
	margin-left: 0.8em;
	padding:0 22px 20px 25px;
	float: left;

}

.font_sitemap02 li.icon02{
	background-image:url(../../images/sitemap_icon02.gif);
	background-repeat:no-repeat;
	margin-left: 0.8em;
	padding:0 22px 20px 26px;
	float: left;

}

.font_sitemap02 li.icon03{
	background-image:url(../../images/sitemap_icon03.gif);
	background-repeat:no-repeat;
	margin-left: 0.8em;
	padding:0 22px 20px 26px;
	float: left;

}

.font_sitemaptitle a:link {
	color: #363636;
	text-decoration:none;
}

.font_sitemaptitle a:visited {
	color: #363636;
	text-decoration: none;
}

.font_sitemaptitle a:hover {
	color: #4eb4ae;
	text-decoration: underline;
}

.font_sitemaptitle a:active {
	color: #85e0db;
	text-decoration: underline;
}


.font_sitemap a:link {
	color: #2887d7;
	text-decoration:none;
}

.font_sitemap a:visited {
	color: #2887d7;
	text-decoration: none;
}

.font_sitemap a:hover {
	color: #456cd1;
	text-decoration: underline;
}

.font_sitemap a:active {
	color: #8ba7ee;
	text-decoration: underline;
}





/*------------ COPYRIGHT------------*/



#container_footer {
	background-color: #444444;
	width: 100%;
	height: 73px;
	position: relative;
	margin-top: 0;
	margin-bottom: 0;
}


#wrapper_footer {
	text-align: center;
	width: 95%;
}	
	
	

.pad_bottomnav {
	text-align: left;
	width: 70%;
	font-family: "メイリオ","Meiryo",Osaka,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",verdana,arial,clean,sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	padding: 15px 0 0 0;
	float: left;
}

.pad_copyright {
	text-align: right;
	width: 30%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #aaaaaa;
	padding: 16px 0 0 0;
	float: left;
}



.pad_bottomnav a:link {
	color: #cccccc;
	text-decoration:none;
}

.pad_bottomnav a:visited {
	color: #cccccc;
	text-decoration: none;
}

.pad_bottomnav a:hover {
	color: #4eb4ae;
	text-decoration: underline;
}

.pad_bottomnav a:active {
	color: #85e0db;
	text-decoration: underline;
}


/*------------ page-top ------------*/	
#page-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-size: 0.85em;
}

#page-top a {
	background: #465699;
	text-decoration: none;
	color: #fff;
	width: 100px;
	padding: 20px 0;
	text-align: center;
	display: block;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

#page-top a:hover {
	text-decoration: none;
	background: #999;
}



/*------------ basic ------------*/	

.cl {
	clear: left;
}

#title {
	margin: 0px;
	position: absolute;
	top: -9999px;
}


a:link {
	color: #4f96c8;
	text-decoration:none;
	outline: none;
}

a:visited {
	color: #4f96c8;
	text-decoration: none;
	outline: none;
}

a:hover {
	color: #8bdadb;
	text-decoration: underline;
	outline: none;
}

a:active {
	color: #d2f2cd;
	text-decoration: underline;
	outline: none;
}

body,div,ul,ol,li,h1,h2,td {
	margin: 0;
	padding: 0;
	list-style:none;
}