@charset "UTF-8";
/* map.css */

	


.pad_title_maintitle01 {
	text-align: left;
	padding: 0 0 12px 0;
}

.pad_title_maintitle02 {
	text-align: left;
	padding: 10px 0 8px 0;
}

.pad_title_maintitle03 {
	text-align: left;
	padding: 30px 0 8px 0;
}
		
.pad_mainarea_dotline01 {
	text-align: left;
	padding: 30px 0 30px 0;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}




/*------------ ACCESS MAP ------------*/	

#container_map {
	margin-left: 9px;
	margin-top: 5px;
	margin-bottom: 40px;
	width: 626px;
}


.font_map01 {
	font-size: 1.06em;
	width: 600px;
	line-height: 1.6em;
	padding: 0 0 10px 8px;
	text-align: left;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}	

.font_map01 ul {
	text-align: left;
	list-style-position: outside;
	margin-left: 15px;
}

.font_map01 ul li {
	list-style-image: url(../../images/map/bullet.gif);
	padding: 0 0 14px 0;
	font-size: 1.08em;
	font-weight: bold;
	color: #187b94;
	margin-top: 0.2em;
}

.font_map02 {
	font-size: 1.0em;
	padding: 0 0 20px 0;
	font-weight: normal;
	color: #323232;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}

.font_map02 span {
	font-size: 0.9em;
	padding: 0 0 0 0;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}


.pad_map {
	padding: 0 0 0 0;
	text-align: left;
	border: 1px #323232 solid;
	width: 620px;
	height: 465px;
	margin-left: 11px;
}

.font_small {
	font-size: 0.92em;
	padding: 2px 0 30px 13px;
	text-align: left;
}



.pad_mapdotline {
	padding: 20px 0 30px 0;
	text-align: left;
}


.font_map03 {
	font-size: 1.06em;
	width: 600px;
	line-height: 1.6em;
	padding: 0 0 10px 8px;
	text-align: left;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}	

.font_map03 ul {
	text-align: left;
	list-style-position: outside;
	margin-left: 15px;
}

.font_map03 ul li {
	list-style-image: url(../../images/map/bullet.gif);
	padding: 0 0 10px 0;
	font-size: 1.08em;
	margin-top: 0.2em;
}

.font_map04 {
	padding: 0 0 13px 19px;
	font-weight: normal;
	color: #323232;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}


.font_map05 {
	padding: 20px 0 33px 2px;
	font-size: 1.08em;
	color: #323232;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}







