@charset "UTF-8";
/* base.css */


html, body {
     height: 100%;
}

html {
	margin: 0 auto;
	padding: 0;
	background: #ccc; /* Fills the page */
}


body {
    background-color: #ccc;
	background-position: center;
	margin: 0 auto;
	padding: 0;
	overflow-x: hidden; 
	font-family: "メイリオ","Meiryo",Osaka,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",verdana,arial,clean,sans-serif;
	font-size: 12px;
	line-height: 165%;
	color: #363636;
}

h1 {
	font-family: "メイリオ","Meiryo",Osaka,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",verdana,arial,clean,sans-serif;
	text-align:left;
	font-size:12px;
	color:#eeeeee;
}	


#wrapper {
	width:1100px;
	padding: 0;
	margin: 0 auto -50px;
	position: relative; /* Fix for absolute positioning */
	height: auto !important;
	height:100%;
	min-height: 100%; 
	background-image:url("../../images/base_bg.gif");
    background-color: #FFF;
}





/*------------ header ------------*/	


.header {
	width: 980px;
	background-color: #fff;
	margin-bottom:0;
	overflow:hidden;
	top: 0;
	margin-top: -0.0em;
	margin-bottom: 40px;
	margin-left: 50px;
}

.pad_accessary_left {
	width: 580px;
	float: left;
	text-align: left;
	padding: 40px 0 0 0;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}

.pad_accessary_right {
	width: 340px;
	margin-top: 5px;
	float: right;
	text-align: right;
	padding: 28px 0 0 0;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}

.font_accessary01 {
	width: 390px;
	font-size: 1.05em;
	line-height: 1.6em;
	padding: 3px 0 0 0;
	text-align: left;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}
.font_accessary01 span.name {
	font-size: 1.17em;
	letter-spacing: 0.05em;
}
.font_accessary01 span.address {
	font-size: 0.85em;
	margin-right: 4px;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}

.font_accessary01 span.tel {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 500;
	font-size: 1.4em;
	color:#323232;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}
.font_accessary01 span.tel a {
	color: #f0244f;
}

.font_accessary01 span.map{
	padding: 0 0 0 12px;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}

li.mail {
	background-image: url("../../images/icon_mail.gif");
	background-repeat: no-repeat;
	background-position: left top;
	font-size: 1.17em;
	text-align:left;
	padding: 0 0 0 30px;
}
	
li.mail a:link {
	color: #323232;
	text-decoration:none;
}

li.mail a:visited {
	color: #323232;
	text-decoration: none;
}

li.mail a:hover {
	color: #bbbbbb;
	text-decoration: underline;
}

li.mail a:active {
	color: dddddd;
	text-decoration: underline;
}	
	


.pad_accessary_contact {
	text-align: left;
	padding: 2px 0 20px 1px;
}




/*------------ 画像------------*/	


.alpha a:hover img {
	opacity: 0.7;
	filter: alpha(opacity=70);
	-ms-filter: "alpha(opacity=70)";
}

	

/***************** header *****************/


.pad_toplogo {
	padding: 48px 0 64px 0;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}


#area_navigation {
	width: 1100px;
	height: 94px;
	background-color: #e9e9e9;
}	

ul#nav {
	width: 1063px;
	padding: 34px 0 0 0;
}
ul#nav li {
	padding: 0 0 0 0;
	float: left;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}

ul#nav02 {
	width: 1050px;
	padding: 34px 0 0 60px;
}
ul#nav02 li.nav01 {
	padding: 0 22px 0 0;
	float: left;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}
ul#nav02 li.nav02 {
	padding: 0 19px 0 0;
	float: left;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}
ul#nav02 li.nav03 {
	padding: 0 9px 0 0;
	float: left;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}
ul#nav02 li.nav04 {
	padding: 0 0 0 2px;
	float: left;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}




/*****************　SNS　*****************/	


#container_sns {
	width: 930px;
	text-align: left;
}


.pad_sns {
	width: 870px;
	float:left;
	text-align: left;
	padding: 20px 0 20px 0;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}

.pad_go2top {
	width:50px;
	float:right;
	text-align: right;
	padding: 20px 4px 0 0;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}



/*****************　sitemap　*****************/

#container_sitemap {
	width: 1100px;
	height: 380px;
	background-image: url("../../images/base_sitemap.gif");
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}

ul#sitemap {
	width: 1000px;
	text-align: left;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}
ul#sitemap li.li001{
	width: 220px;
	text-align: left;
	padding: 40px 0 0 0;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
	float: left;
}
ul#sitemap li.li002{
	width: 20px;
	text-align: left;
	padding: 40px 0 0 0;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
	float: left;
}

ul#sitemap li.li003{
	width: 265px;
	text-align: left;
	padding: 40px 0 0 0;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
	float: left;
}
ul#sitemap li.li004{
	width: 41px;
	text-align: left;
	padding: 40px 0 0 0;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
	float: left;
}
ul#sitemap li.li005{
	width: 185px;
	text-align: left;
	padding: 40px 0 0 0;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
	float: left;
}

.pad_sitemap_title01 {
	padding: 9px 0 7px 0;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}

.pad_sitemap_title02 {
	padding: 9px 0 1px 0;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}

.pad_sitemap_title03 {
	padding: 12px 0 1px 0;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}

.font_sitemap {
	padding: 0 0 10px 14px;
	line-height: 2.0em;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}

ul#sitemapsns {
	width: 160px;
	padding: 20px 0 0 5px;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}

ul#sitemapsns li {
	width: 40px;
	float: left;
	text-align: left;
}






	
.font_sitemap a:link {
	color: #dddddd;
	text-decoration:none;
}

.font_sitemap a:visited {
	color: #dddddd;
	text-decoration: none;
}

.font_sitemap a:hover {
	color: #eeeeee;
	text-decoration: underline;
}

.font_sitemap a:active {
	color: #ffffff;
	text-decoration: underline;
}	










/*****************　footer　*****************/		


#footer {
	background-color: #000000;
	bottom: 0;
	position: absolute;
	width: 100%;
	height:50px;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}

.copyright {
	text-align: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.85em;
	color: #999;
	float: right;
	padding: 10px 12px 10px 0;
	margin-top: -0.0em;
	margin-bottom: -0.0em;
}

.cl {
	clear: left;
}

#title {
	margin: 0px;
	position: absolute;
	top: -9999px;
}


a:link {
	color: #cfa357;
	text-decoration:none;
}

a:visited {
	color: #cfa357;
	text-decoration: none;
}

a:hover {
	color: #e8c891;
	text-decoration: underline;
}

a:active {
	color: #fff3a0;
	text-decoration: underline;
}

body,div,ul,ol,li,h1,h2,td {
	margin: 0;
	padding: 0;
	list-style:none;
}

