#container_sitemap
  .alpha(align='center')
    ul#sitemap
      li.li001
        p.pad_sitemap_title01
          img(src='images/sitemap01.gif', alt='Flower Japanについて')
        p.font_sitemap
          a(href='concept.html#concept') - コンセプト
          br
          a(href='concept.html#message') - メッセージ
      li.li002
        img(src='images/sitemap_dotted.gif')
      li.li003
        p.pad_sitemap_title01
          img(src='images/sitemap08.png', alt='Flower Japan 2017')
        p.font_sitemap
          a(href='exhibition.html#exhibition') - ビジネスリーダーたちのいけばな展
          br
          a(href='exhibition.html#overview') - 展覧会概要
      li.li002
        img(src='images/sitemap_dotted.gif')
      li.li003
        p.pad_sitemap_title01
          a(href='exhibition2016.html#exhibition')
            img(src='images/sitemap06.png', alt='Flower Japan 2016', border='0')
        p.font_sitemap
          a(href='exhibition2016.html#artists') - 出展者
        p.pad_sitemap_title01(style='padding-top:40px;')
          a(href='exhibition2015.html#exhibition')
            img(src='images/sitemap07.png', alt='Flower Japan 2015', border='0')
        p.font_sitemap
          a(href='exhibition2015.html#artists') - 出展者
      li.li002
        img(src='images/sitemap_dotted.gif')
      li.li005
        p.pad_sitemap_title01
          img(src='images/sitemap05.gif', alt='Founder 州村衛香')
        p.font_sitemap
          a(href='sumura.html#message') - ごあいさつ
          br
          a(href='sumura.html#sumura') - 州村衛香
          br
          a(href='sumura.html#works') - おもな活動内容
        ul#sitemapsns
          li
            a(href='mailto:info@flowerjapan.jp')
              img(src='images/sitemap_sns01_of.gif', alt='mail', border='0')
          li
            a(href='http://www.facebook.com/877850742298368', target='_blank')
              img(src='images/sitemap_sns03_of.gif', alt='facebook', border='0')
          p.cl
        p(style='padding: 0 0 0 10px; margin-top:-0.0em; margin-bottom:-0.0em;')
          a(href='http://ikebana-atrium.com', target='_blank')
            img(src='images/ikebanaatrium.png', alt='IKEBANA ATRIUM', border='0')
      p.cl
      
#footer
  p.copyright Copyright c Flower Japan. All Rights Reserved.
