doctype html
html(lang='ja')
  head
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-123959230-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-123959230-1');
    meta(charset='UTF-8')
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='copyright', content='copyright:')
    meta(name='spurl', content='')
    meta(property='fb:page_id', content='877850742298368')
    meta(property='og:site_name', content='FlowerJapan | フラワージャパン')
    meta(property='og:title', content='FlowerJapan フラワージャパン FlowerJapan2017')
    meta(property='og:description', content='FlowerJapan (フラワージャパン)は、日本文化である「いけばな」を軸に、より豊かなライフスタイルを、日本に、世界に、次世代へと伝え創出していくプロジェクトです。2015年よりビジネスの各分野で活躍する経営者たちが、いけばなメッセンジャーとして花をいける「ビジネスリーダーたちのいけばな展」を毎年主催。代表は、いけばな作家・州村衛香(すむらえいこう)(草月流)。')
    meta(property='og:type', content='article')
    meta(property='og:url', content='http://www.flowerjapan.js/')
    meta(property='og:image', content='')
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='canonical', href='http://www.flowerjapan.js/')
    title FlowerJapan :::: フラワージャパン | FlowerJapan2018
    link(href='common/css/base.css', rel='stylesheet', type='text/css')
    link(href='common/css/ex2018.css', rel='stylesheet', type='text/css')
    script(type='text/javascript', src='common/js/smooth.js')
    script(type='text/javascript', src='common/js/common.js')
    link(href='common/css/lity.min.css', rel='stylesheet')
    script(src='common/js/jquery.js')
    script(src='common/js/ex2018.js', type='text/javascript')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  body
    #fb-root
    script.
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.3";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    #toptop
    div(align='center')
      #wrapper
        header.header
          .alpha
            .pad_accessary_left
              a(href='index.html')
                img(src='images/mainlogo02.gif', alt='Flower Japan', border='0')
            .pad_accessary_right
              p.font_accessary01
                span.name FlowerJapan 事務局
                br
                span.address 〒108-0074
                | 東京都港区高輪3-13-1
                br
                |         グランドプリンスホテル新高輪1F  IKEBANA ATRIUM内
                br
                span.address TEL / FAX
                span.tel 03-3444-8744
                span.map
                  a(href='https://goo.gl/maps/uFVDM6wJc182', target='_blank')
                    img(src='images/header_mapbu.gif', border='0', alt='map')
                br
              li.mail
                a(href='mailto:info@flowerjapan.jp') Contact us
              p
            .cl
        .ex2018
          main
            img(src="2018/img/main1.png")
            h1
              img(src="2018/img/ttl.png")
            img(src="2018/img/main2.png")
          section.content-overview
            h2 
              span OVERVIEW 
              br
              | 展覧会概要
            .overview-box
              .jp
                dl
                  dt 会期
                  dd 2018年11月7日(水) 〜 11月11日(日)
                    br
                    | 前 期: 11月7日(水)〜8日(木) ※最終日 17:00まで
                    br
                    | 後 期: 11月9日(金)〜11日(日) ※初日17:00〜 ※最終日18:00まで
                    span ※各曜日ごと、開場・閉場時間が異なりますのでご注意ください。ご入場は、閉場時間の３０分前とさせていただきます。
                    span ※９日（金）は、１７:００～２０:００「Flower Japan 2018 IKEBANA NIGHT!!」として、トークイベントを開催

                dl
                  dt 入場料
                  dd 500円　+　イベントチャージ（500円）になります。

                dl
                  dt 会場
                  dd ヒルサイドフォーラム （代官山ヒルサイトドテラス　F棟1F ）
                    br
                    | 東急東横線 代官山駅 徒歩3分
                dl
                  dt 主催
                  dd Flower Japan実行委員会事務局
                p Flower Japanは、日本文化である「いけばな」を軸に、
                  br
                  | より豊かなライフスタイルを日本に、世界に、次世代へと伝え創出していくプロジェクトです。
                  br
                  | いけばな作家・州村衛香の呼びかけに賛同した様々なジャンルのオピニオンリーダーたちが集い、2015年からいけばなを通した文化発信を行っています。
                  br
                  | ２０１８の展覧会テーマは、「器との出会い」。
                  br
                  | 器との出会いは、暮らしを豊かなものにしてくれます。愛でる愉しみや、心の潤いが生まれるきっかけ。花の器は、大地から切り取られた植物の命を生かすための新しい住処。
                  br
                  | そこに花をいけることで、私たち人間には、暮らしや心に彩りを与える場が生まれます。
                  br
                  | 器との出会いから生まれた、ビジネスリーダーたちのいけばなをお楽しみください。
              .en
                dl
                  dt Date	
                  dd 2018.11.7Wed ｰ 11.11Sun
                    br
                    |first half 11.7（Wed）10:00-20:00   11.8（Thu）10:00-17:00
                    br
                    |Latter half 11.9（Fri）17:00-20:00   11.10（Sat）10:00-20:00   11.11（Sun）10:00-18:00
                dl
                  dt Ticket
                  dd 500yen　+　event chrage（500yen）

                dl
                  dt Venue
                  dd HILLSIDE FORUM （Daikanyama HILLSIDE TERRACE　F-1F ）
                    br
                    | 東急東横線 代官山駅 徒歩3分
                dl
                  dt Organizer
                  dd Flower Japan
                  
                p ここは英訳テキストをいただきたいテFlowerJapan is a project to disseminate a more enriched lifestyle throughout Japan, to the world, and to the next generation,
                  br
                  | with the Japanese culture “Ikebana” at its core.FlowerJapan is a project to disseminate a more enriched lifestyle throughout Japan, to the world, and to the next generation, with the Japanese culture “Ikebana” at its core.FlowerJapan is a project to disseminate a more enriched lifestyle throughout Japan, to the world, and to the next generation, with the Japanese culture “Ikebana” at its core.
                  br
                  | Since 2015, opinion leaders from a variety of backgrounds supporting Eikou Sumura, an Ikebana Artist, have been offering cultural information through Ikebana.
                  br
                  | through its Ikebana activities, creates opportunities to experience the joy and excitement of Japanese cultures. It also offers places to disseminate and share new perceptions of Japanese cultures and messages triggering interests.
            ul.col2-btn
              li
                a.greet(href="#modal-Greeting") Greeting
              li
                a.about(href="#modal-About") About us
                
          section.content-exhibitor
            h2 
              span EXHIBITOR
              br
              | FJ2018 出品者
            .exhibitor-box
              h3 通期
              dl
                dt  菅大介
                dd  株式会社チェリオコーポレーション　専務取締役
                dt  棚澤啓介
                dd  株式会社クライス＆カンパニー	シニアヴァイスプレジエント
                dt  中村奈都子
                dd  株式会社日本経済新聞社	編集局　NIKKEI TheSTYLE編集長
                dt  菅大介
                dd  株式会社チェリオコーポレーション　専務取締役
            .exhibitor-box
              h3 前期
              dl
                dt  久保明彦	
                dd  株式会社ウィリアムズ・リー・ジャパン	代表取締役社長　北アジア地区マネージングディレクター
                dt  菅大介
                dd  株式会社チェリオコーポレーション　専務取締役
                dt  菅大介
                dd  株式会社チェリオコーポレーション　専務取締役
                dt  菅大介
                dd  株式会社チェリオコーポレーション　専務取締役
            .exhibitor-box
              h3 後期
              dl
                dt  菅大介
                dd  株式会社チェリオコーポレーション　専務取締役
                dt  菅大介
                dd  株式会社チェリオコーポレーション　専務取締役
                dt  菅大介
                dd  株式会社チェリオコーポレーション　専務取締役
                dt  菅大介
                dd  株式会社チェリオコーポレーション　専務取締役
          
          ul.col3-btn
            li
              a.ex2015(href="/exhibition2015.html") FLOWER JAPAN2015の
                br
                | 作品を見る
            li
              a.ex2016(href="/exhibition2016.html") FLOWER JAPAN2016の
                br
                | 作品を見る
            li
              a.ex2017(href="#") FLOWER JAPAN2017の
                br
                | 作品を見る(coming soon)
                
          section.content-talk
            h2 
              span EVENT
              br
              | トークイベント
              br
              | Flower Japan 2018  IKEBANA NIGHT !!
            .talk-box
              img(src="https://dummyimage.com/1000x400/000/fff")
              ul
                li  日時：2018年11月９日(金) 　17時～20時
                li  会場：ヒルサイトドフォーラム （東京・代官山）
                li  入場料：1,000円　(※ご招待券をお持ちの方は、イベントチャージ500円にてご参加いただけます。）
                li  詳細は、Facebook（
                  a(href="https://www.facebook.com/flowerjapanproject/",target="_blank").icnfb @flowerjapanproject
                  | ）、インスタグラム（
                  a(href="https://www.instagram.com/flowerjapanproject/?hl=ja",target="_blank").icninsta  flowerjapanproject
                  |）にてご覧ください。
                li 
                  p 経営者、華道家元、いけばな作家たちが集い、「いけばな」をキーワードに、より豊かなライフスタイルの実現のための文化や、感性を刺激する美意識について語ります。２流派の家元による「生花」「立華」の古典いけばな作品は、IKEBANA NIGHT !!のみの特別展示です。
              dl.vol-box
                dt
                  span Vol.1
                  |「これからのいけばな　～伝承する華、創造する花～」
                  em （17時30分～）
                dd
                  p 少し説明も入れたほうが良いかと思います。少し説明も入れたほうが良いかと思います。少し説明も入れたほうが良いかと思います。少し説明も入れたほうが良いかと思います。少し説明も入れたほうが良いかと思います。
                  h4 出演者： 
                  ul.syutsuen
                    li
                      img(src="https://dummyimage.com/400x400/000/fff")
                      p 龍生派 ４代目家元 
                        br
                        |吉村華洲氏　
                    li
                      img(src="https://dummyimage.com/400x400/000/fff")
                      p 古流理恩会 11代家元 
                        br
                        |宇田川理翁氏 　
              dl.vol-box
                dt
                  span Vol.2
                  |「ビジネスリーダーに聞く　いけばなで磨かれるビジネススキルとは？」
                  em （19時00分～）
                dd
                  p 少し説明も入れたほうが良いかと思います。少し説明も入れたほうが良いかと思います。少し説明も入れたほうが良いかと思います。少し説明も入れたほうが良いかと思います。少し説明も入れたほうが良いかと思います。。
                  h4 出演者： 
                  ul.syutsuen
                    li
                      img(src="https://dummyimage.com/400x400/000/fff")
                      p 堀内勉氏
                        span 株式会社アクアイグニス
                          br
                          |取締役会長
                    li
                      img(src="https://dummyimage.com/400x400/000/fff")
                      p 堀内勉氏
                        span 株式会社アクアイグニス
                          br
                          |取締役会長
                    li
                      img(src="https://dummyimage.com/400x400/000/fff")
                      p 堀内勉氏
                        span 株式会社アクアイグニス
                          br
                          |取締役会長
                    li
                      img(src="https://dummyimage.com/400x400/000/fff")
                      p 堀内勉氏
                        span 株式会社アクアイグニス
                          br
                          |取締役会長
                
          section.content-colabo
            h2 
              span COLLABORATIONS
              br
              | コラボレーション企画
            p 会期中は、さまざなま花にまつわるコラボレーション企画をご用意して皆様をお待ちしております。



            
            
              
          


                    
                    
        .modal
          .modal-inner
            p ここにテキストが入る
          .modal-close ×
        include _footer.pug